. {
    background-color: #cccccc;
}

a {
    color: #ffffff !important;
}

a.navbar-brand {
    float: left;
    font-size: 30px !important;
    opacity: 1.0;
    text-align: center;
    transition: 0.3s;
    width: 25%;
}

a.navbar-brand:hover {
    opacity: 0.3;
}

body {
    background-attachment: fixed;
    background-color: #cccccc;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    color: #ffffff !important;
    font-family: "Trebuchet MS" !important;
    opacity: 0;
    transition: opacity: 1.2s;
    -webkit-transition: opacity 2s;
}

img {
    border-radius: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn {
    opacity: 1;
}

.btn:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.fa-envelope {
    background-color: #00aff0;
}

.fa-github {
    background-color: #444;
}

.fa-linkedin {
    background-color: #007bb6;
}

.intro {
    padding-top: 50px;
    text-align: center;
}

.name-intro {
    font-size: 120px;
}

#myNav {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0)) !important;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}
