body {
    background-color: #cdefff;
    color: #000000;
    width: auto;
    height: auto;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 60px;
}

i.fa, i.fab {
    color: #ffffff;
    font-size: 40px;
}

.navbar-brand {
    background-color: #cdefff;
}

.nav-item {
    margin-left: 30px;
}

.container {
    margin-top: 50px;
}

.profile-image {
    border: 15px solid #55acfd;
    border-radius: 100%;
    text-align: right;
    width: 300px;
}

.linkedin-button {
    background-color: #55acfd;
}

.github-button {
    background-color: #000000;
}

.email-button {
    background-color: #d31111;
}
