body {
    background-color: #cdefff;
    color: #000000;
    width: auto;
    height: auto;
    font-family: 'Source Code Pro', monospace;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.navbar-brand {
    background-color: #cdefff;
}

.nav-item {
    margin-left: 30px;
}

.container {
    margin-top: 20px;
}

.skill-chip {
    border-radius: 10px;
    background-color: #00a2ff;
    padding: 10px;
    margin: 5px;
}

.skill-label {
    vertical-align: middle;
}

.skill-icon {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    width: 40px;
    vertical-align: middle;
}

.skill-img {
    width: 40px;
}

.fa-java {
    color: #ff6600;
}

.fa-python {
    color: #0000ff;
}

.fa-js {
    color: #dfdb1f;
}

.fa-database {
    color: #000000;
}
